@tailwind base;
@tailwind components;
@tailwind utilities;

/*— Reset de la couleur et du soulignement du lien navigateur —*/
/* a,
a:visited {
  color: inherit !important;
  text-decoration: none !important;
} */

/*— Full-page background —*/
html,
body,
#__next {
  height: 100%;
  background: #000;
}
